bin
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
config.h
*.swp
CPackConfig.cmake
CPackSourceConfig.cmake
*.orig
tags
cscope.out
_CPack_Packages
install_manifest.txt
*.deb
*vcxproj*
*~
*.sln